.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
}

.container form {
  display: flex;
  gap: 0.5rem;
  margin-top: -1.6rem;
}

.container input[type=text] {
  height: 3.3rem;
  width: 39rem;
  border-radius: 10px;
  padding: 1rem;
  background: var(--gray-500);
  color: var(--gray-300);
  border: var(--gray-700);
  outline: none;
}
